// Mise en form de la mat-card
:host {
    display: flex;
    flex-flow: row;

    > div[leaflet] {
        flex: 0 0 400px;
    }

    > div.form-adress {
        flex: 1 1;

        mat-form-field {
            width: 100%;
        }
    }

}