
<div class="form-adress">
    <mat-form-field>
        <input  type="text" 
                placeholder="Adresse" 
                aria-label="Adresse"
                matInput 
                [formControl]="searchControl"
                [matAutocomplete]="auto"
                
                />
        <mat-autocomplete 
            #auto = "matAutocomplete" 
            [displayWith] = "getAdressLabel"
            (optionActivated) = "onOverAdressChange($event.option?.value)"
            (optionSelected)  = "onSelectionChange($event.option.value)"
            (opened) = "chooseChange.emit({displayPossibleAdresses: true})"
            (closed) = "chooseChange.emit({displayPossibleAdresses: false})"
            >
            @for (option of chooseAmong().possibleAdresses; track option) {
            <mat-option 
                [value]="option" 
                (pointerenter)="onOverAdressChange(option)"
                (pointerleave)="onOverAdressChange(undefined)"
                >
                <span [style.font-weight]="option === chooseAmong().overAdress ? 'bold' : 'normal'">
                    {{option.properties.label}}
                </span>
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</div>
