<!-- 
 Formulaire HTML pour siair une adresse, 
 un champs libre pour la recherche plus des champs structurés.
 On utilise la bibliothèque angular material.
 -->

<div    style = "height: 400px; width: 400px;"
        leaflet
        [leafletOptions]="mapOptions"
        [leafletLayers]="mapLayers()"
        >
</div>
<form>
    <mat-form-field>
        <input  type="text" 
                placeholder="Adresse" 
                aria-label="Adresse"
                matInput 
                [formControl]="searchControl"
            [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionActivated)="onOptionActivated($event)">
            @for (option of searchOptions(); track option) {
            <mat-option [value]="option" (hover)="onSelectionChange($event)">
                {{option}}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>
